section {
	&.about {
		background-color: $color-smoke;
		padding: 18.000em 12% 22.000em 12%;
		margin-top: -5.000em;

		@include media('desktop:hdpi@maximal', down) {
			padding: 18.000em 8% 20.000em 8%;
		}

		@include media('ipad:pro@maximal', down) {
			padding: 18.000em 3.000em 20.000em 3.000em;
		}

		@include media('ipad:standard@maximal', down) {
			padding: 15.000em 3.000em 22.000em 3.000em;
		}

		@include media('phone:standard[potrait]@maximal', down) {
			padding: 12.000em 1.500em 20.000em 1.500em;
		}

		.descriptive {
			&[layer=about] {
				@include display(row, center, space-between, nowrap);

				background-color: $color-white;
				border-radius: .650em;
				position: relative;
				padding: 2.000em;
				z-index: 2;

				&::after {
					@include gradient(to left, $color-sky, $color-sea);

					border-radius: .500em;
					content: '';
					position: absolute;
					top: -1.500em;
					right: -2%;
					z-index: 0;
					width: 20%;
					height: .400em;
				}

				&::before {
					@include gradient(to left bottom, $color-sky, $color-sea);

					border-radius: .500em;
					content: '';
					position: absolute;
					bottom: -1.800em;
					right: 5%;
					z-index: 0;
					width: 70%;
					height: .400em;

					@include media('ipad:standard@maximal', down) {
						right: unset;
						left: -2%;
					}
				}

				.text {
					flex-basis: 70%;

					@include media('ipad:pro@maximal', down) {
						flex-basis: 60%;
					}
					@include media('ipad:standard@maximal', down) {
						flex-basis: 100%;
					}

					h1, p {
						@extend .light;
					}
					h1 {
						color: rgba($color-dark, .7);
						margin-bottom: .400em;

						@include media('phone:standard[potrait]@maximal', down) {
							font-size: 1.700em;
						}

						span {
							font-weight: 600;
						}
					}
					p {
						color: rgba($color-dark, .6);
						font-size: 1.100em;
						line-height: 1.700em;

						@include media('phone:standard[potrait]@maximal', down) {
							font-size: .900em;
							text-align: justify;
							text-indent: 1.700em;
							line-height: 2.100em;
						}

						span {
							font-weight: 600;
						}
					}
				}
				.media {
					flex-basis: 25%;

					@include media('ipad:pro@maximal', down) {
						flex-basis: 35%;
					}

					@include media('ipad:standard@maximal', down) {
						display: none;
					}
				
					img {
						box-shadow: 5px 5px 17px 10px rgba(0,0,0,0.05);
						border-radius: .650em;
						position: absolute;
						top: 55%;
						right: 2%;
						width: 25%;
						height: 25.000em;
						object-fit: cover;
						transform: translateY(-50%);

						@include media('ipad:pro@maximal', down) {
							top: 50%;
							right: 3%;
							width: 35%;
							height: 26.000em;
						}
					}
				}
			}
		}
	}
}