section {
	&.hero {
		background: linear-gradient(to left bottom, $color-sky, $color-sea);
		position: relative;
		height: 100vh;
		overflow: hidden;

		@include media('ipad:pro@maximal', down) {
			height: 50vh;
		}

		@include media('ipad:standard@maximal', down) {
			height: 70vh;
		}

		@include media('phone:standard[potrait]@maximal', down) {
			height: auto;
			box-sizing: border-box;
			padding: 10.000em 0;
		}

		.descriptive {
			&[layer=greeting] {
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100vw;
				transform: translate(-50%, -50%);
				padding: 0 0 0 12%;

				@include media('desktop:xhdpi@maximal', down) {
					padding: 0 0 0 10%;
				}

				@include media('desktop:hdpi@maximal', down) {
					padding: 0 0 0 8%;
				}

				@include media('ipad:pro@maximal', down) {
					padding: 0 0 0 3.000em;
				}

				@include media('phone:standard[potrait]@maximal', down) {
					flex-wrap: wrap;
					justify-content: center;
					position: static;
					transform: unset;
					padding: 0 1.500em;
				}

				.text {
					flex-basis: 43%;

					@include media('ipad:standard@maximal', down) {
						flex-basis: 50%;
					}

					@include media('phone:standard[potrait]@maximal', down) {
						text-align: center;
						flex-basis: 100%;
						margin-bottom: 2.000em;
					}

					h1 {
						color: $color-white;
						font-size: 2.400em;
						position: relative;
						@include media('desktop:mdpi@maximal', down) {
							font-size: 2.100em;
						}
						@include media('ipad:pro@maximal', down) {
							font-size: 1.800em;
						}
						@include media('ipad:standard@maximal', down) {
							font-size: 1.600em;
						}
						@include media('phone:standard[potrait]@maximal', down) {
							font-weight: 300;
							font-size: 1.400em;
							line-height: 1.700em;
							span {
								font-weight: 600;
							}
						}
					}
				}
				.media {
					flex-basis: 55%;

					@include media('phone:standard[potrait]@maximal', down) {
						display: none;
					}
					
					.box {
						position: relative;
						width: 100%;
						height: 100vh;

						@include media('ipad:pro@maximal', down) {
							height: 50vh;
						}
						
						@include media('ipad:standard@maximal', down) {
							height: 70vh;
						}

						img {
							box-shadow: 5px 5px 17px 10px rgba(0,0,0,0.05);
							border-radius: .650em;
							position: absolute;
							object-fit: cover;
							&:first-child {
								bottom: 5%;
								right: 8%;
								width: 18.000em;
								height: 22.000em;
								filter: blur(.8px);
								@include media('desktop:xhdpi@maximal', down) {
									width: 16.000em;
									height: 18.000em;
								}
								@include media('ipad:pro@maximal', down) {
									width: 12.000em;
									height: 12.000em;
								}
								@include media('ipad:standard@maximal', down) {
									width: 10.000em;
									height: 10.000em;
								}
							}
							&:nth-child(2) {
								top: 50%;
								left: 2%;
								width: 15.000em;
								height: 15.000em;
								transform: translateY(-50%);
								filter: blur(.5px);
								@include media('desktop:xhdpi@maximal', down) {
									width: 13.000em;
									height: 13.000em;
								}
								@include media('ipad:pro@maximal', down) {
									left: 15%;
									width: 9.000em;
									height: 9.000em;
								}
								@include media('ipad:standard@maximal', down) {
									width: 8.000em;
									height: 8.000em;
								}
							}
							&:nth-child(3) {
								top: 40%;
								right: 12%;
								width: 10.000em;
								height: 10.000em;
								transform: translateY(-50%);
								filter: blur(1.4px);
								@include media('desktop:xhdpi@maximal', down) {
									width: 8.000em;
									height: 8.000em;
								}
								@include media('ipad:pro@maximal', down) {
									top: 50%;
									width: 6.000em;
									height: 6.000em;
								}
								@include media('ipad:standard@maximal', down) {
									top: 58%;
									width: 5.000em;
									height: 5.000em;
								}
							}
							&:nth-child(4) {
								top: 20%;
								left: 26%;
								width: 11.200em;
								height: 11.200em;
								transform: translateY(-50%);
								filter: blur(.8px);
								@include media('desktop:xhdpi@maximal', down) {
									top: 22%;
									left: 33%;
									width: 9.000em;
									height: 9.000em;
								}
								@include media('ipad:pro@maximal', down) {
									top: 25%;
									left: 39%;
									width: 7.000em;
									height: 7.000em;
								}
								@include media('ipad:standard@maximal', down) {
									left: 48%;
									width: 6.500em;
									height: 6.500em;
								}
							}
							&:nth-child(5) {
								top: 18%;
								left: -12%;
								width: 7.000em;
								height: 7.000em;
								transform: translateY(-50%);
								filter: blur(1px);
								@include media('desktop:xhdpi@maximal', down) {
									width: 6.000em;
									height: 6.000em;
								}
								@include media('ipad:pro@maximal', down) {
									top: 22%;
									left: 0;
									width: 5.000em;
									height: 5.000em;
								}
								@include media('ipad:standard@maximal', down) {
									top: 18%;
									left: 5%;
									width: 4.800em;
									height: 4.800em;
								}
							}
						}
					}
				}
				.counter {
					background-color: rgba($color-white, .2);
					box-shadow: 5px 5px 17px 10px rgba(0,0,0,0.05);
					border-radius: .650em;
					display: flex;
					position: absolute;
					bottom: 4.000em;
					padding: 1.700em 2.000em;

					@include media('ipad:pro@maximal', down) {
						padding: 1.300em;
					}

					@include media('ipad:standard@maximal', down) {
						padding: 1.000em;
					}

					@include media('phone:standard[potrait]@maximal', down) {
						position: static;
						flex-basis: 80%;
						justify-content: space-evenly;
						padding: .900em .600em;
					}
					

					.count {
						display: flex;
						flex-direction: column;
						align-items: center;

						&:not(:last-child) {
							margin-right: 2.500em;
							@include media('ipad:standard@maximal', down) {
								margin-right: 2.000em;
							}
							@include media('phone:standard[potrait]@maximal', down) {
								margin-right: 0;
							}
						}
						i, p {
							color: $color-white;
						}
						p {
							font-size: 1.100em;
							@include media('ipad:standard@maximal', down) {
								font-size: .700em;
							}
							@include media('phone:standard[potrait]@maximal', down) {
								font-size: .500em;
							}
						}
						i {
							font-size: 2.200em;
							margin-bottom: .300em;
							@include media('ipad:standard@maximal', down) {
								font-size: 1.800em;
								margin-bottom: .500em;
							}

							@include media('phone:standard[potrait]@maximal', down) {
								font-size: 1.500em;
							}
						}
					}
				}
			}
		}
	}
}