section {
	&.article {
		background-color: $color-white;
		position: relative;
		overflow: hidden;
		padding: 15.000em 12% 18.000em 12%;
		clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
		margin-top: -12.000em;

		@include media('ipad:pro@maximal', down) {
			padding: 18.000em 3.000em;
		}

		@include media('ipad:standard@maximal', down) {
			padding: 10.000em 3.000em 15.000em 3.000em;
			clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
		}

		@include media('phone:standard[potrait]@maximal', down) {
			padding: 7.000em 1.500em 10.000em 1.500em;
			clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
		}

		.descriptive {
			&[layer=background] {
				div {
					@include gradient(to left bottom, $color-sky, $color-sea);

					position: absolute;
					top: 0;
					right: -65%;
					width: 100%;
					height: 100%;
					clip-path: polygon(11% 0, 100% 0, 100% 100%, 13% 100%, 0 75%, 13% 40%, 0 19%);

					@include media('ipad:standard@maximal', down) {
						right: -70%;
					}

					@include media('phone:standard[potrait]@maximal', down) {
						display: none;
					}

					
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: .3;
					filter: blur(2px);
				}
			}
			&[layer=title] {
				h2 {
					@extend .light;

					color: rgba($color-dark, 0.7);
					font-size: 2.200em;
					display: inline-block;
					position: relative;
					margin-bottom: 1.500em;

					@include media('ipad:standard@maximal', down) {
						margin-bottom: 2.500em;
					}

					@include media('phone:standard[potrait]@maximal', down) {
						font-size: 1.600em;
					}

					&::after {
						@include gradient(to left bottom, $color-sky, $color-sea);

						content: '';
						border-radius: .350em;
						position: absolute;
						bottom: -.300em;
						left: -1%;
						height: .150em;
						width: 115%;

						@include media('phone:standard[potrait]@maximal', down) {
							width: 100%;
						}

					}
					span {
						font-weight: 600;
					}
				}
			}
			&[layer=reason] {
				position: relative;
				z-index: 2;
				.text {
					p {
						@include shadow(normal, $color-sky, .05);

						color: rgba($color-dark, 0.5);
						background-color: $color-white;
						border-radius: .650em;
						position: relative;
						line-height: 1.800em;
						transition: all .5s ease;
						padding: 2.200em 1.700em;

						@include media('phone:standard[potrait]@maximal', down) {
							font-size: .800em;
							text-align: justify;
							text-indent: 1.700em;
						}

						&:not(:last-child) {
							margin-bottom: 3.500em;
							@include media('ipad:pro@maximal', down) {
								margin-bottom: 5.000em;
							}
						}
						&:first-child {
							left: -10%;
							@include media('ipad:pro@maximal', down) {
								left: 0;
							}
						}
						&:last-child {
							left: 10%;
							@include media('ipad:pro@maximal', down) {
								left: 0;
							}
						}
						&:hover {
							transform: scale(1.02);
							span {
								opacity: 1;
								right: 2%;
								@include media('ipad:standard@maximal', down) {
									right: 5%;
								}
							}
						}
						span {
							@include gradient(to right, $color-sea, $color-leaf);

							color: $color-white;
							box-shadow: 5px 5px 17px 10px rgba($color-sky,0.080);
							border-radius: .350em;
							font-size: 1.200em;
							position: absolute;
							top: -14%;
							right: -2%;
							opacity: 0;
							transition: all .5s ease;
							padding: .800em;

							@include media('ipad:pro@maximal', down) {
								opacity: 1;
								right: 2%;
							}

							@include media('ipad:standard@maximal', down) {
								top: -10%;
								right: 5%;
							}

							@include media('phone:standard[potrait]@maximal', down) {
								font-size: 1.000em;
								text-indent: 0;
								top: -4.5%;
								padding: .600em .800em;
							}
						}
						&:nth-child(2) {
							span {
								@include media('ipad:pro@maximal', down) {
									left: 2%;
									right: unset;
								}
								@include media('ipad:standard@maximal', down) {
									left: 5%;
								}
							}
						}
					}
				}
			}
		}
	}
}