section {
    &.hero {
		position: relative;
		height: 100vh;
		@include media('ipad:pro@maximal', down) {
			height: 50vh;
		}
		@include media('ipad:standard@maximal', down) {
			height: 90vh;
		}
		@media all and (max-width: 1024px) and (orientation : landscape) {
			height: 90vh;
		}
		@include media('phone:standard[potrait]@maximal', down) {
			background: linear-gradient(to right bottom, $color-sky, $color-leaf);
			height: 100%;
			padding: 8.000em 1.000em;
		}
		@media all and (max-width: 736px) and (orientation : landscape) {
			background: linear-gradient(to right bottom, $color-sky, $color-leaf);
			height: 100%;
			padding: 10.000em 1.000em;
		}

        .descriptive {
            &[layer=background] {
                position: relative;
				height: 100%;
				overflow: hidden;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
					object-fit: cover;
					filter: blur(3px);
					&#slider {
						opacity: 1;
						transition: opacity 1s;
					}
					
					&#slider {
						&.fadeOut {
							opacity: 0;
						}
					}
					
                }

                .overlay {
                    background: linear-gradient(to right bottom, $color-sky, $color-leaf);
                    position: absolute;
                    width: 100%;
                    height: 102%;
                    z-index: 1;
                    opacity: .8;
                }
            }

            &[layer=banner] {
				display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                top: 53%;
                left: 50%;
                width: calc(100vw - 24%);
                transform: translate(-50%, -50%);
				z-index: 2;
				@include media('desktop:xhdpi@maximal', down) {
					width: calc(100vw - 20%);
				}
				@include media('desktop:hdpi@maximal', down) {
					width: calc(100vw - 16%);
				}
				@include media('ipad:pro@maximal', down) {
					width: calc(100vw - 6.000em);
				}
				@include media('ipad:standard@maximal', down) {
					flex-wrap: wrap;
					width: calc(100vw - 3.000em);
				}
				@include media('phone:standard[potrait]@maximal', down) {
					flex-wrap: wrap;
					position: static;
					transform: unset;
					width: 100%;
				}
				@media all and (max-width: 736px) and (orientation : landscape) {
					flex-wrap: wrap;
					position: static;
					transform: unset;
					width: 100%;
				}
			

                .text {
					flex-basis: 44%;
					@include media('ipad:standard@maximal', down) {
						text-align: center;
						flex-basis: 100%;
						padding: 0 4.000em;
					}
					@include media('phone:standard[potrait]@maximal', down) {
						padding: 0;
					}

                    h1,
                    p {
                        color: $color-white;
                    }

                    h1 {
                        font-size: 2.500em;
						line-height: 1.450em;
						@include media('desktop:xhdpi@maximal', down) {
							font-size: 2.200em;
						}
						@include media('ipad:pro@maximal', down) {
							font-size: 1.900em;
						}
						@include media('ipad:standard@maximal', down) {
							font-size: 1.700em;
						}
						@include media('phone:standard[potrait]@maximal', down) {
							font-size: 1.500em;
						}
						@include media('phone:standard[potrait]@minimal', down) {
							font-size: 1.200em;
						}
                    }

                    p {
                        @extend .light;

                        font-size: 1.150em;
                        line-height: 1.700em;
						margin: 1.300em 0 2.000em 0;
						@include media('ipad:pro@maximal', down) {
							font-size: .900em;
						}
						@include media('phone:standard[potrait]@minimal', down) {
							font-size: .700em;
						}
                    }

                    .action {
						display: flex;
						@include media('ipad:standard@maximal', down) {
							justify-content: center;
						}

                        button {
                            color: $color-dark;
                            box-shadow: 0px 10px 29px -13px rgba($color-sky, 0.35);
                            font-size: 1.000em;
							padding: .800em 1.800em;
							@include media('ipad:pro@maximal', down) {
								font-size: .900em;
							}
							@include media('phone:standard[potrait]@maximal', down) {
								font-size: .800em;
								padding: 0.800em 1.000em;
							}
							

                            &:first-child {
                                margin-right: 1.800em;
                            }

                            &:last-child {
                                color: $color-white;
                                background-color: rgba($color-white, .2);
                                backdrop-filter: blur(.350em);
                            }

                            &:hover {
                                box-shadow: 0px 0px 29px -3px rgba($color-sky, 0.51);
                            }
                        }
                    }
                }

                .embed {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
					flex-basis: 49%;
					@include media('ipad:standard@maximal', down) {
						flex-basis: 100%;
						margin-top: 4.000em;
					}

					@include media('phone:standard[potrait]@maximal', down) {
						margin-top: 3.000em;
					}

					

                    .video {
						@include media('ipad:pro@maximal', down) {
							margin-top: 2.000em;
						}
						
                        img {
                            border: .350em solid rgba($color-sea, .2);
                            border-radius: .650em;
                            width: 35.000em;
							height: 23.000em;
							object-fit: cover;
							@include media('desktop:xhdpi@maximal', down) {
								height: 20.000em;
							}
							@include media('desktop:mdpi@maximal', down) {
								width: 28.000em;
							}
							@include media('ipad:pro@maximal', down) {
								width: 25.000em;
								height: 18.000em;
							}
							@include media('ipad:standard@maximal', down) {
								width: 24.000em;
							}
							@include media('phone:standard[potrait]@maximal', down) {
								width: 100%;
								height: 13.000em;
							}
							@media all and (max-width: 736px) and (orientation : landscape) {
								width: 100%;
								height: 13.000em;
							}
							@include media('phone:standard[potrait]@minimal', down) {
								height: 12.000em;
							}
						}

						&.up, &.down {
							.play {
                                background-color: $color-white;
                                border: .320em solid rgba($color-sky, .3);
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 5.000em;
                                height: 5.000em;
                                transform: translate(-50%, -50%);
								transition: all .3s ease;
								@include media('phone:standard[potrait]@maximal', down) {
									width: 3.500em;
									height: 3.500em;
								}

                                &:hover {
                                    width: 5.300em;
                                    height: 5.300em;
									cursor: pointer;
									@include media('phone:standard[potrait]@maximal', down) {
										width: 3.800em;
										height: 3.800em;
									}

                                    i {
                                        animation: pulse 5s ease infinite;
                                    }
                                }

                                i {
                                    background: linear-gradient(to right bottom, $color-sky, $color-leaf);
                                    font-size: 1.700em;
                                    -webkit-background-clip: text;
									-webkit-text-fill-color: transparent;
									@include media('phone:standard[potrait]@maximal', down) {
										font-size: 1.100em;
									}
                                }
                            }
						}

                        &.up {
                            position: absolute;
                            top: -4.000em;
							left: -2.000em;
							z-index: 2;
							@include media('ipad:pro@maximal', down) {
								top: -2.000em;
								left: 0;
							}
							
						}
						&.down {
							@include media('desktop:xhdpi@maximal', down) {
								position: relative;
								z-index: -1;
								right: -2.000em;
								bottom: -1.500em;
							}
							@include media('ipad:pro@maximal', down) {
								right: 0;
							}
							@include media('phone:standard[potrait]@maximal', down) {
								display: none;
							}
							
						}
                    }
                }
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(.98);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(.98);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

