nav {
    @include display(row, center, space-between, nowrap);

    transition: all .3s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 1.500em 12%;

    @include media('desktop:xhdpi@maximal', down) {
        padding: 1.500em 10%;
    }

    @include media('desktop:hdpi@maximal', down) {
        padding: 1.500em 8%;
    }

    @include media('ipad:pro@maximal', down) {
        padding: 1.500em 3.000em;
    }

    @include media('ipad:standard@maximal', down) {
        padding: 1.500em;
    }

    @include media('phone:standard[potrait]@maximal', down) {
        padding: 1.300em 1.500em;
    }

    &.scrolled {
        @include shadow(normal, $color-sky, .150);

        background: $color-white;

        .descriptive {
            &[layer=logo] {
                h2 {
                    @include gradient-text(to right bottom, $color-sky, $color-leaf);

                    &.toggle {
                        @include gradient-text(to right, $color-white, $color-white);
                    }
                }
            }

            &[layer=toggle] {
                button {
                    i {
                        @include media('phone:standard[potrait]@maximal', down) {
                            @include gradient-text(to right bottom, $color-sky, $color-leaf);

                            &.toggle {
                                @include gradient-text(to right, $color-white, $color-white);
                            }
                        }

                    }
                }
            }

            &[layer=menu] {
                ul {
                    li {
                        a {
                            @include gradient-text(to right, rgba($color-sky, .6), $color-leaf);

                            @include media('phone:standard[potrait]@maximal', down) {
                                @include gradient-text(to right, $color-white, $color-white);
                            }


                            &::after {
                                @include gradient-text(to right bottom, rgba($color-sky, .7), $color-leaf);
                            }
                        }

                        button {
                            @include gradient(to right top, $color-navy, $color-sea);

                            color: $color-white;
                        }
                    }
                }
            }
        }
    }

    .descriptive {
        &[layer=toggle] {

            display: none;

            @include media('phone:standard[potrait]@maximal', down) {
                text-align: right;
                display: inline;
                position: relative;
                flex-basis: 50%;
                z-index: 3;

                button {
                    background: none;
                    padding: 0;

                    i {
                        color: $color-white;
                        font-size: 1.800em;
                        transition: all .5s ease-out;

                        &.toggle {
                            color: $color-white !important;
                            transform: rotate(-360deg);
                        }
                    }

                }
            }
        }

        &[layer=logo] {
            position: relative;
            z-index: 3;

            @include media('phone:standard[potrait]@maximal', down) {
                flex-basis: 50%;
            }

            h2 {
                color: $color-white;
                font-size: 1.500em;
                text-transform: uppercase;

                @include media('ipad:standard@maximal', down) {
                    font-size: 1.300em;
                }
            }
        }

        &[layer=menu] {
            ul {
                @include display(row, center, flex-start, nowrap);

                transition: all .5s ease;

                @include media('phone:standard[potrait]@maximal', down) {
                    @include gradient(to right, rgba($color-sky, .92), $color-leaf);
                    @include display(column, center, center, nowrap);

                    position: fixed;
                    top: 0;
                    left: -101%;
                    width: 100%;
                    height: 100%;
                }

                &.show {
                    left: 0;
                }

                li {
                    &:not(:last-child) {
                        margin-right: 2.200em;

                        @include media('phone:standard[potrait]@maximal', down) {
                            margin-right: 0;
                            margin-bottom: 2.000em;
                        }
                    }

                    a {
                        color: $color-white;
                        font-size: 1.100em;
                        position: relative;

                        @include media('ipad:standard@maximal', down) {
                            font-size: .900em;
                        }

                        @include media('phone:standard[potrait]@maximal', down) {
                            font-size: 1.300em;
                        }

                        &::after {
                            background-color: $color-white;
                            border-radius: .350em;
                            content: '';
                            position: absolute;
                            bottom: -.400em;
                            left: 0;
                            width: 0;
                            height: .180em;
                            transition: all .5s ease;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    button {
						color: rgba($color-dark, .8);
                        font-size: .900em;

                        @include media('ipad:standard@maximal', down) {
                            font-size: .700em;
                        }

                        @include media('phone:standard[potrait]@maximal', down) {
                            font-size: .950em;
                        }

                        @include media('phone:standard[potrait]@maximal', down) {
                            @include gradient(to right top, $color-navy, $color-sky);

                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}