section {
    &.table {
        position: relative;
		padding: 10.000em 12% 8.000em 12%;
		@include media('desktop:xhdpi@maximal', down) {
			padding: 10.000em 10% 8.000em 10%;
		}
		@include media('desktop:hdpi@maximal', down) {
			padding: 10.000em 8% 8.000em 8%;
		}
		@include media('ipad:pro@maximal', down) {
			padding: 10.000em 3.000em;
		}
		@include media('ipad:standard@maximal', down) {
			padding: 10.000em 1.000em;
		}

        .descriptive {
            &[layer=counter] {
                background-color: $color-white;
                border-radius: .650em;
                box-shadow: 0px 0px 29px -13px rgba($color-sky, 0.45);
                display: flex;
				align-items: center;
				justify-content: center;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
				padding: 2.000em;
				@include media('desktop:xhdpi@maximal', down) {
					width: 65%;
				}
				@include media('ipad:pro@maximal', down) {
					width: 80%;
				}
				@include media('ipad:standard@maximal', down) {
					width: 85%;
				}
				@include media('phone:standard[potrait]@maximal', down) {
					justify-content: space-between;
					padding: 1.500em 1.000em;
				}

                .count {

                    font-size: 1.250em;
                    display: flex;
					align-items: center;
					@include media('ipad:standard@maximal', down) {
						flex-direction: column;
					}

                    p {
						color: rgba($color-dark, 0.8);
						@include media('ipad:standard@maximal', down) {
							font-size: .900em;
							margin-top: 1.000em;
						}
						@include media('phone:standard[potrait]@maximal', down) {
							font-size: .500em;
						}
                    }

                    i {
						background: linear-gradient(to right top, #70a1ff, #18dcff);
                        font-size: 1.400em;
                        margin-right: .800em;
                        -webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						@include media('ipad:standard@maximal', down) {
							margin-right: 0;
						}
						@include media('phone:standard[potrait]@maximal', down) {
							font-size: 1.000em;
						}
                    }
                }

                .divider {
                    background-color: rgba($color-dark, 0.1);
                    border-radius: .350em;
                    width: .100em;
                    height: 3.000em;
					margin: 0 2.200em;
					@include media('ipad:standard@maximal', down) {
						height: 5.000em;
					}
					@include media('phone:standard[potrait]@maximal', down) {
						height: 3.000em;
						margin: 0 .500em;
					}
                }
            }

			&[layer=title] {
				text-align: center;
				h2 {
					color: rgba($color-dark, .7);
					font-size: 2.200em;
					@include media('phone:standard[potrait]@maximal', down) {
						font-size: 1.800em;
					}
				}
				p{
					color: rgba($color-dark, .5);
					font-size: 1.100em;
					margin-top: .300em;
					@include media('phone:standard[potrait]@maximal', down) {
						font-size: .900em;
					}
				}
			}

            &[layer=catalogue] {
				margin-top: 3.000em;
				@include media('ipad:standard@maximal', down) {
					box-shadow: 0px 5px 25px 0px rgba($color-sky, 0.13);
					position: relative;
					width: 100%;
					height: 80vh;
					overflow: scroll;
				}

                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-radius: .350em;
                    box-shadow: 0px 5px 25px 0px rgba($color-sky, 0.13);
					overflow: hidden;
					@include media('ipad:standard@maximal', down) {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
					}

                    thead {
                        border-bottom: .150em solid rgba($color-sea, .4);

                        th {
                            padding: 1.500em;

                            &:first-child {
                                text-align: left;
                            }
                        }
                    }

                    tbody {
                        tr {
                            &:nth-child(even) {
                                background-color: rgba($color-smoke, .5);
                            }

                            td {
                                @extend .light;

								padding: 1.000em 1.500em;
								
								@include media('ipad:standard@maximal', down) {
									white-space: nowrap;
									padding: 1.500em;
								}

                                &:nth-child(2),
                                &:last-child {
                                    text-align: center;
                                }

                                button {
                                    color: $color-white;
                                    background-color: $color-sea;
                                    border-radius: .350em;
                                    padding: .800em 1.200em;
                                }
                            }
                        }
                    }
                }
            }

            &[layer=pagination] {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 3.500em;

                    li {
						background-color: $color-white;
						box-shadow: 0px 0px 29px -13px rgba($color-sky, 0.65);
						border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3.000em;
						height: 3.000em;
						transition: all .5s ease;
						@include media('phone:standard[potrait]@maximal', down) {
							width: 2.500em;
							height: 2.500em;
						}
						@include media('phone:standard[potrait]@minimal', down) {
							width: 2.000em;
							height: 2.000em;
						}
						&:not(:last-child) {
							margin-right: 2.000em;
							@include media('phone:standard[potrait]@maximal', down) {
								margin-right: .800em;
							}
							@include media('phone:standard[potrait]@minimal', down) {
								margin-right: .500em;
							}
						}
						&:hover {
							background-color: $color-sea;
							box-shadow: 0px 10px 29px -13px rgba($color-sky, 0.85);
							cursor: pointer;
							a {
								color: $color-white;
							}
						}

                        a {
							color: rgba($color-dark, 0.5);
							font-size: 1.100em;
							@include media('phone:standard[potrait]@maximal', down) {
								font-size: .900em;
							}
							
							i {
								font-size: 1.250em;
								@include media('phone:standard[potrait]@maximal', down) {
									font-size: 1.000em;
								}
							}
                        }
                    }
                }
            }
        }
    }
}