@mixin display($direction, $align, $justify, $wrap) {
    display: flex;

    @if $direction=='row' {
        flex-direction: row;
        align-items: $align;
        justify-content: $justify;
        flex-wrap: $wrap;
    }

    @else {
        flex-direction: column;
        align-items: $align;
        justify-content: $justify;
        flex-wrap: $wrap;
    }
}

@mixin shadow($state, $color, $opacity) {
    box-shadow: 0 .425em 1.813em -.813em rgba($color, $opacity);

    @if $state=='hover' {
        box-shadow: 0 .425em 1.813em -.813em rgba($color, $opacity);
    }
}

@mixin gradient($direction, $first, $second) {
    background: linear-gradient($direction, $first, $second);
}

@mixin gradient-text($direction, $first, $second) {
    background: linear-gradient($direction, $first, $second);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin position($align) {
	position: absolute;
	@if $align == 'center' {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} @else if $align == 'vertical' {
		top: 50%;
		transform: translateY(-50%);
	} @else {
		left: 50%;
		transform: translateX(-50%);
	}
}